*{
    box-sizing: border-box;
    margin: 0;
}
ul li, a{
    text-decoration: none !important;
    list-style: none;
}
.allitemmargin:hover{
    border-bottom: #582a11 !important;
}
.wrapper{
    margin: 0 auto !important;
    width: 90% !important;
}
.carousel-text{
    padding-left: 100px;
    z-index: 1;
    position: absolute !important;
    top: 100px;
    color: #0a0300 !important;
    /* color: #1f0e04 !important; */
}
body{
    max-width: 100% !important;
    color: #070200 !important;
}
h1{
    font-weight: 300 !important;
    font-size: 60px !important;
}
h2{
    font-weight: 400 !important;
    font-size: 40px !important;
}
h3{
    font-weight: 200 !important;
    font-size: 32px !important;
}
h4{
    font-weight: 300 !important;
    font-size: 28px !important;
}
h5{
    font-weight: 300 !important;
    font-size: 24px !important;
}

p{
    font-size: 18px !important;
    font-weight: 100 !important;
}
.read-me{
    color: #582a11;
}
.read-me:hover{
    color:#DC4D01;
}
.custom-bg{
    /* background-color: rgba(235,234,230,255); */
    background-color: #f3f1ef;
    padding: 60px 0 90px 0;
}
.text-header{
    text-align: center !important;
}
ul li, a{
    text-decoration: none !important;
    list-style: none !important;
    color: #3a3431 !important;
}
.custom-btn-outline{
    border-color:#DC4D01 !important;
  }
.custom-btn-outline:hover {
    border-color:#582a11 !important;
  }
a:hover, .item:hover{
    color:#DC4D01 !important;
}
.border-radius{
    border-radius: 2px !important;
}
.colored-text, .icon{
    color: #DC4D01 !important;
}
.iconi{
    color: #252525 !important;
}
.iconi:active{
    color: #DC4D01 !important;
}
.custom-btn-bg{
    background:#DC4D01 !important;
    color: #fff !important;
}  
.activeBtn {
    background:#DC4D01 !important;
    color: #fff !important;
}  
.activeBtn::placeholder {
    background:#DC4D01 !important;
    color: #fff !important;
}  
.custom-btn-bg:hover {
    background:#582a11 !important;
    color: #fff !important;
}  
.custom-btn-blank {
    background: rgba(197, 93, 17, 0.5) !important;
    color: #fff !important;
}
.custom-footer-btn-blank{
    background: rgba(240, 238, 238, 0.5) !important;
    color: #dc4d01 !important;
}
.custom-section-bg {
    /* background:#fcfafa !important; */
    background:rgb(248, 248, 248) !important;
    /* background:#f5fafa !important; */
}  

.carousel-item .landing-page-header {
    width: 100% !important;
    height: 500px !important;
}
.icon-tpl img{
    height: 100px !important;
    display: flex !important;
    margin: auto !important;
}
.note {
      border-top: 5px solid #DC4D01 !important;
      border-radius:  2px !important;
      /* margin: 0 4px !important; */
    }
.hover-border-bottom:hover{
      border-bottom: 5px solid #DC4D01 !important;
      border-radius:  2px !important;
}
.light{
    background-color: #fff !important;
}
.line {
    /* border-right: 1px solid rgb(221, 213, 213) !important; */
    padding-left: 40px !important;
    padding-right: 40px !important;
    /* padding: 0 !important; */
}
.sub-line {
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.price-row{
    color: #524d47 !important;
}
.line:last-child {
    padding-right: 0 !important;
    padding-left: 80px !important;
    /* margin: 0 !important; */
}
.line:first-child {
    padding-left: 0 !important;
    padding-right: 80px !important;
}
.no-margin-price, .last-margin-price{
    margin: 0 -6px !important;
}

ul li{
    line-height: 40px !important;
}
.btn-mobile, #mobile-nav{
    display: none !important;
}
.mobile-nav{
    display: none !important;
}
.faq-item {
    margin: 10px 0 !important;
    padding: 10px !important;
background:rgb(248, 248, 248) !important;
    border-radius: 2px !important;
    cursor: pointer !important;
}
.faq-answer {
    display: none !important;
    padding: 10px !important;
    background:rgb(248, 248, 248) !important;
    border-radius: 2px !important;
}
.text-header{
    padding: 30px 0 20px 0 !important;
}
.price-row{
    width: 100% !important;
    padding: 0 !important;
}
.auth-body{
    min-height: 100vh !important;
}
.center-body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 90vh !important;
    font-family: 'Inter', sans-serif !important;
}
.border-bottom{
    border-bottom: 10px solid rgb(248, 248, 248) !important;
}
.text-right{
    text-align: right !important;
}
.card{
    margin: auto !important;
    border: transparent !important;
    border-radius: 2px !important;
    background-color: #fff !important;
    box-shadow: .1px .2px 8px rgba(243, 232, 232, 0.5), -.1px -.2px 8px rgba(209, 202, 202, 0.5) !important;
    padding: 30px !important;
}


.center-body h2{
    font-weight: 600 !important;
    font-size: 36px !important;
}
.center-body h4{
    font-weight: 400 !important;
}

.center-body .a, .a{
    color: #DC4D01 !important;
}
.a:hover{
    color: #383636ef !important;
}
.center-body label{
    font-size: 15px !important;
}
.center-body .a:hover{
    color: #4e2b17 !important;
}
input:focus{
    outline: 1px solid #e7e4e2 !important;
    border: 1px solid #e7e4e2 !important;
    background-color: transparent !important;
}
input{
    padding: 10px 15px !important;
    caret-color: #582a11 !important;
}
.center-body h4{
    font-weight: 400 !important;
}
label{
    padding-bottom: 5px !important;
}
.error{
    display: none !important;
}
.custom-footer-btn-blank:hover{
    background: #dc4d01 !important;
    color: rgba(235, 235, 235) !important;
}
.sub-form input{
    background:rgb(248, 248, 248) !important;
    padding: 10px 20px !important;
}
 .center-container {
      display: flex !important;
      align-items: center !important;
    }
.payment-header{
    font-size: 20px !important;
}
.change-form{
    display: none !important;
}

.change-form input{
    background:rgb(248, 248, 248) !important;
    padding: 20px !important;
}
form input{
    margin: 5px 0 !important;
}
input[type=radio]{
    accent-color: #dc4d01 !important;
}
.float-card img{
    border-radius: 2px;
    /* box-shadow: .1px .2px 4px rgba(131, 123, 123, 0.5), -.1px -.2px 4px rgba(107, 97, 97, 0.5) !important; */
    /* box-shadow: .1px .2px 1px rgba(179, 173, 173, 0.5), -.1px -.2px 1px rgba(180, 177, 177, 0.5) !important; */
    box-shadow: .1px .2px 2px rgba(100, 89, 89, 0.5), -.1px -.2px 2px rgba(59, 52, 52, 0.5) !important;
    transition: all 0.3s ease !important;
 }   
.float-card img:hover{
    box-shadow: .1px .1px 1px rgba(117, 115, 115, 0.5), -.1px -.1px 1px rgba(161, 155, 155, 0.5) !important;
 }   
/* .float-card:hover .subscribe {
    display: block !important;
    opacity: 1 !important;
} */
.float-card-text{
    width: 100% !important;
    margin-top: -50px;
    position: relative !important;
    /* bottom: 5px !important; */
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ccc1bb !important;
    background-color: rgba(73, 71, 71, 0.5);
    width: 100%;
    z-index: 1;
}
.full-width{
    width: 100% !important;
}
.invalid input{
    outline: 1px solid red !important;
}
.usep::placeholder{
    color: #4e2b17 !important;
}
.usep:hover::placeholder{
    color: #fff !important;
}
@media screen and (max-width: 1400px) {
h1{
    font-size: 46px !important;
}
h2{
    font-size: 30px !important;
}
h3{
    font-size: 26px !important;
}
.carousel-item .landing-page-header {
    height: 400px !important;
}
.no-margin{
    margin: 0 !important;
}
.no-sm-padding{
    padding: 0!important;
}
.no-margin-price{
    margin: 0 -24px !important;
}
.last-margin-price{
    margin: 0 -18px !important;
}
.line {
    border-right: none !important;
    padding-right: 0 !important;
}
/* .line:last-child {
    margin: 20px 50px !important;
    width: 90% !important;
    padding: 0 !important;
} */
}
@media screen and (min-width: 784px) {
    .header-section{
        padding: 50px 0 !important;
    }
}

@media screen and (max-width: 784px) {
h1{
    padding-top: 40px !important;
    font-size: 40px !important;
}
.wrapper{
    width: 85% !important;
}
h2, .amount{
    font-size: 28px !important;
}
h3{
    font-size: 24px !important;
}
h4{
    font-size: 20px !important;
}
h5{
    font-size: 17px !important;
}
  .carousel-item .landing-page-header {
    height: 300px !important;
}
.btn-mobile, #mobile-nav{
    display: block !important;
} #mobile-nav{
    display: flex !important;
}
.header-nav, #header-nav{
    display: none !important;
}
.mobile-nav{
    display: flex !important;
}
.header-btn, .header-nav{
    display: none !important;
}
.line {
    border: none !important;
    padding-right: 0px !important;
}
.footer-wrapper-text{
    width: 100% !important;
    margin: auto !important;
}
.dropdown-item:hover{
    background: rgb(240, 240, 240, 0.6) !important;
    color: #4e2b17 !important;
}
p{
    font-size: 16px !important;
}
ul li{
    line-height: 30px !important;
    font-size: 15px !important;

}
.mobile-full-width{
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 0 !important;
}
.center-body h2{
    font-weight: 500 !important;
    font-size: 25px !important;
}
.center-body h4{
    font-weight: 300 !important;
    font-size: 16px !important;
}
.center-body p{
    font-weight: 250 !important;
    font-size: 15px !important;
}
form{
    padding: 0 !important;
}
.auth-body{
    min-width: none !important;
}
.center-body{
    min-height: 80vh !important;
}
.sub-line {
    padding-left: 50px !important;
    padding-right: 0px !important;
}
.sub-body .change-flex{
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important;
}
input{
    padding: 5px 10px !important;
}
.carousel-text{
    padding-left: 40px;
    top: 60px !important;
    font-stretch: expanded;
}
.card-minus{
    margin-top: 50px !important;
    margin-left: -80px !important;
    margin-right: 80px;
}

}
