*{
    box-sizing: border-box;
    margin: 0;
}
ul li, a, i{
    text-decoration: none !important;
    list-style: none;
    color: #071022 !important;
}
a:hover{
    color: #273d68;
}
.header-text{
    color: #071022;
    /* color: rgba(30, 45, 71, 0.062); */
}
.wrapper{
    margin: 0 auto !important;
    width: 90% !important;
}
body{
    max-width: 100% !important;
    color: #070200 !important;
}
h1{
    font-weight: 300 !important;
    font-size: 60px !important;
}
h2{
    font-weight: 400 !important;
    font-size: 40px !important;
}
h3{
    font-weight: 200 !important;
    font-size: 32px !important;
}
h4{
    font-weight: 300 !important;
    font-size: 28px !important;
}
h5{
    font-weight: 300 !important;
    font-size: 24px !important;
}

p{
    font-size: 18px !important;
    font-weight: 100 !important;
}
.card{
    margin: auto !important;
    border: transparent !important;
    border-radius: 2px !important;
    background-color: #fff !important;
    box-shadow: .1px .2px 8px rgba(243, 232, 232, 0.5), -.1px -.2px 8px rgba(209, 202, 202, 0.5) !important;
    padding: 30px !important;
}
input[type=radio]{
    accent-color: #4b74e2 !important;
}
.custom-btn-bg{
    background-color: #4b74e2 !important;
    color: #fff !important;
}
.custom-btn-outline{
    border: 1px solid #4b74e2 !important;
    background-color: transparent !important;
    color: #4b74e2 !important;
}
.custom-style {
  flex: 0 0 22.67% !important;
}

@media screen and (max-width: 1400px) {
h1{
    font-size: 46px !important;
}
h2{
    font-size: 30px !important;
}
h3{
    font-size: 26px !important;
}
.dropdown-item:hover{
    background: rgb(240, 240, 240, 0.6) !important;
    color: #3861af !important;
}
p{
    font-size: 16px !important;
}
.mobile-full-width{
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 0 !important;
}
form{
    padding: 0 !important;
}
.custom-style {
  flex: 0 0 90% !important;
}


}
